# For any modules
/build
/*.iml

# Only for root-project
/.idea
/.gradle
#/.android.jar
/.proguard.jar
/.production.jks
/gradle
/gradlew
/local.properties
/settings.gradle
/build.gradle
/gradle.properties
/gradlew.bat
